table{
    
   border:3;
  color:black;

    width:100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* إضافة ظل */
    border-collapse: collapse; /* للتأكد من أن الحدود الداخلية لا تؤثر على الشكل */
    margin: 20px 0;
    text-align: center;
    
}